*.a
*_access.log.*
aclocal.m4
autom4te.cache/
*.bak
build
build-aux/
release
.cache
*.bz2
config.h
config.h.in
config.h.in~
config.status
configure
core*
.dep_create
*.deps
.dirstamp
doc/doxygen/
Doxyfile
_external
*.gcda
*.gcno
.gdb_history
*.gz
.idea
*.la
*.libs
libtool
*.lo
*.log
*.loT
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
*Makefile
*Makefile.in
*.o
*.orig
*.os
*.pb.cc
*.pb.h
*.pyc
basic_search.spec
.sconsign.dblite
*.so
stamp-h1
*.swp
tags
test-driver
tools/hash_test
tools/mc
tools/trie_test
.Tpo
*.trs
*_unittest
.vscode
*.zip
*.cmake
*CMakeFiles/
include/
*CMakeCache.txt
output/
Testing/
test.info

DartConfiguration.tcl
compile_commands.json
output/
null.d
build_*
debug_*
